.container{
    border-radius: 25px;
    background-color: #527ac2;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;    
}
.thetext{
    font-size: 12pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;   
    padding-left: 1em;
 
}
p{
    font-size: 18pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;    
    line-height: 110%;

    padding-right: 1em;
}