
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;    
}
.thetext{
    font-size: 12pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;   
    padding-left: 2em;
    padding-right: 4em;
}
p{
    font-size: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;    
    line-height: 120%;
    padding-right: 1em;
}
ul{
    font-size: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;    
    line-height: 120%;
    padding-right: 1em;   
}
.aboutportrait{
    border-width: 25px;
    padding-left: 2em;
}