.container{
    border-radius: 25px;
    background-color: #527ac2;
    font-size: 16pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    /*padding: 0.5em 1em 0.5em 1em;*/
}
a{
    color:rgb(233, 169, 74);
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a:hover {
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
  }
h2{
    /* Category Headers */
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 32px;
    color:seashell
    
}
.tags-expo{
    /* Full Border around text */
    border-radius: 26px;
    padding: 0.5em 1em 0.5em 1em;
}
.post-title{
    /* Post titles 
       Blog page, so should be implied these things are links.
    */
    color:seashell;
    font-size: 22px;
}
ul{
    color:gainsboro;
}
.blog-wrap{
    margin: 1em 10em 1em 10em;

}
.post-body{
    font-size: 14px;
}
