.container{
    border-radius: 25px;
    background-color: #527ac2;
    font-size: 16pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0.5em 1em 0.5em 1em;

}
a{
    color:navajowhite;
}
a:hover {
    text-decoration: underline;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  