.container{
    border-radius: 25px;
    background-color: #527ac2;
    font-size: 16pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0.5em 1em 0.5em 1em;

}
a{
    color:rgb(214, 181, 252);
}