body {
    margin: 60px auto;
    width: 70%;
    background-image: url(../images/bubblechamber.jpeg);
    height: 100%;     
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: navajowhite;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;    
}
h3 {
    font-size: 16pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;    
}
p {
    font-size: 16pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: seashell;    
}
#footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: seashell;    

}

ul.posts li {
    list-style: none;
    color: seashell;    

}

.social {
    float: left;
    list-style: none;
}

.associations { 
    float: right;
}
.portrait{
    border-radius: 25px;
    border-color: #527ac2;
}

.container{
    border-radius: 25px;
    background-color: #527ac2;
}
.blurb{
    text-indent: 2em;
    padding-bottom: 1em;
    padding-top: .5mm;
}
.posts{
    border-radius: 25px;
    background-color: #527ac2;
}