---
layout: default
title: Blog
---
<link rel="stylesheet" type="text/css" href="/css/blog.css">

<!-- Load KaTeX -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>


<div class="tags-expo">
  <!-- Header with links to jump - re-enable once there's more blog posts

  <div class="tags-expo-list">
		{% for tag in site.categories %}
		<a href="#{{ tag[0] | slugify }}" class="post-tag" style="font-size:24px;color:seashell">{{ tag[0]}}</a>
    {% endfor %}
  </div>
	<hr/>
  -->
  <div class="tags-expo-section">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <div>
          {{ post.date | date_to_string }} -- {{ post.title }}
        </div>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
    <!-- Here's for un-dated things-->
    <h2>General Posts</h2>
    {% assign gen_post = site.other | sort: 'date' | reverse %}
    {% for post in  gen_post %}
    <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <ul class="tags-expo-posts">
        <div style='line-height:0.2em'> <!--Style fix here is tmp fix for double spacing-->
          {{ post.title }} 
        </div>
      </ul>
    </a>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  $("script[type='math/tex']").replaceWith(
    function(){
      var tex = $(this).text();
      return katex.renderToString(tex, {displayMode: false});
  });
  
  $("script[type='math/tex; mode=display']").replaceWith(
    function(){
      var tex = $(this).text();
      return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
  });
</script>