<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">   
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">     
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/documents/cv.pdf">CV</a></li>
                <li><a href="/blog">Blog</a></li> 
            </ul>   
        </nav>

        {{ content }}

		<footer>
            <h3 class="social">
            <ul>
                <li><a href="mailto:burcht11@gmail.com">email</a></li>
                <li><a href="https://github.com/tjburch">github</a></li>
                <li><a href="https://gitlab.com/tjburch">gitlab</a></li>
                <a href="https://twitter.com/tylerjburch?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @tylerjburch</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </ul>
            </h3>
            <h3 class="associations">
                    <img src="/images/atlaslogo.png" class="inline" style="height:64px;" />
                    <img src="/images/niulogo.png" class="inline" style="height:64px;"/>
                    <img src="/images/anllogo.jpg" class="inline" style="height:64px;"/>
            </h3>
        </footer>
    
    </body>
</html>        