<!DOCTYPE html>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157960843-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-157960843-1');
    </script>

    <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    </head>

    <div class="hero-image">
        <div class="hero-text">
        <h1 style="font-size:3em;"">Tyler James Burch</h1>
        <p style="font-size:1.3em;">Particle Physics // Machine Learning // Music // Baseball</p>
        </div>
    </div>

    <body class="main-text">
        <div>
        <nav>
            <ul>
                <li><a href="/" class="header-footer">Home</a></li>
                <li><a href="/about"  class="header-footer">About</a></li>
                <li><a href="/documents/cv.pdf" class="header-footer">CV</a></li>
                <li><a href="/blog" class="header-footer">Blog</a></li>
            </ul>
        </nav>

        {{ content }}

		<footer>
            <h3 class="social">
            <ul>
                <li><a href="mailto:burcht11@gmail.com" class="header-footer">email</a></li>
                <li><a href="https://github.com/tjburch" class="header-footer">github</a></li>
                <li><a href="https://gitlab.com/tjburch" class="header-footer">gitlab</a></li>
                <li><a href="https://twitter.com/tylerjburch?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" >Follow @tylerjburch</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
            </ul>
            </h3>
            <h3 class="associations">
                    <img src="/images/brslogo.jpeg" class="inline" style="height:64px;"/>
            </h3>
        </footer>
        </div>
    </body>
</html>
